<% content_for :title do %>Gracenote Auction<% end %>
<% content_for :description do %>Gracenote Auction site<% end %>
<div class="column"
<section>
  <img src="http://tunecore.com/images/cms/Gracenote_Logo.jpg"> 
</section>
  <img src="https://www.usm.edu/gulfcoast/sites/usm.edu.gulfcoast/files/groups/online-auction/images/online-auction-130610-940x250px.jpg">
<section>
</div>

</section>
<section>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Login", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
